*{
    padding: 0;
    margin: 0;
}


.top-bar{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    background-color: #faee00!important;
}



.main-bar{
    height: 100px!important;
    backdrop-filter: blur(30px)!important;
    z-index: 1;
}

.main-menu{
    box-shadow: 0px 2px 5px 0px rgb(101, 101, 101);
    z-index: -1;
    border-top: 2px solid gray;
}

.account{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    position: relative;

}

.acount-list{
    list-style: none;
    padding: 0%;
}

.account-menu{
    width: 200px;
    height: atuo;
    background-color: white;
    top:200%;
    left: -150px;
    display: none;

    position: absolute;
    z-index: 10;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.379);
}

.account-menu::after{
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    bottom:100%;
    left:75%;
    border-color:  transparent transparent rgb(188, 188, 188) transparent ;
}


.account-menu.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}



.s-btn{
    border: none;
    background-color: transparent;
    width: 25px!important;
    height: 25px!important;
    display: flex;
    place-items: center;
    line-height: 50px;
    font-size: 20px;
    color: black;
    border:none;
    text-decoration: none;
}

.tooltip-inner {
  background-color: #faee00 !important;
  color: #030303;
  font-weight: 500;
}


.collection{
    width: auto;
    height: 100%;
    padding:0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.img-div{
    width: atuo;
    height: atuo;
    object-fit: fill;
    overflow: hidden;

    z-index: 0;
    display: block;
    position: relative;
    padding:0%;
    margin: 0%;
    
}

.img-div img{
    width: 100%;
    height: 100%;
    transform: scale(1.07);
    /* display: block; */
}

.img-div img:hover{
    transform: scale(1.2);
    transition: 0.7s;
}

.cart-outer{
    width: 150px;
    height: 40px;
    background-color: transparent;
    
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    right: 10px;
    bottom:20px;
    z-index: 1;
    overflow: hidden;

}

.cart-hover{
    width: 150px;
    height: 40px;
    background-color: white;

    border-radius: 5px 0px 0px 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transform: translate(110px, 0px);
    transition: 0.5s;

    padding-left: 5px;

}

.cart-hover:hover{
    transform: translate(0px, 0px);
    transition: 1s;
   
}

.single-img{
    background-attachment: sticky;
}

.img-col{
    width: 45%;
    height: 100%;
    background-color: white;
    padding: 5px;
}

.images{
    width: 90%;
    height: 50%!important;
    position: relative;

    overflow: hidden;
}

.img-top{
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
    top:0;
}

.img-under{
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    top:0;
    
}

/* Icon set Outer design */
.icon-set{
    width: 120px;
    height: 40px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;

    position: relative;
    bottom: 20px;
    z-index: 2;

    opacity: 0;
    transition: 0.5s;
}

/* Icon set inner icon 1 */
.icon-1{
    width: 35%;
    height: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
}

.icon-1:hover{
    background-color: #faee00;
}


/* Icon set inner icon2  */
.icon-2{
    width: 35%;
    height: 100%;
    padding: 5px;
    text-align: center;
    border-left: 2px solid #faee00; 
    border-right: 2px solid #faee00; 
    overflow: hidden;
    
}

.icon-2:hover{
    background-color: #faee00;
}


/* Icon set inner icon 3 */
.icon-3{
    width: 35%;
    height: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    a{
        color:black;
    }
}

.icon-3:hover{
    background-color: #faee00;
}


.img-col:hover{
    box-shadow: 0px 5px 20px 0px rgb(189, 188, 188);
    transition: 0.5s;
}



.images:hover .icon-set{
    transform: translateY(-60px);
    opacity: 100%;
    transition: 1s;
    z-index: 2;
}


.images:hover .img-top{
    opacity: 100%;
    transform: scale(1.1);
    transition: .5s;
    
}




.info{
    width: 90%;
    height: 80%;
    background-color: none;
}



/* FOOTER SECTION  */


.footer{
    background-color: rgb(241, 241, 241);
}

.f-list{
    list-style-type: none;
    
}

.topic{
    font-weight: bold;
    margin: 10px 0px;
    font-size: 14px;
    padding: 5px 0px;

}

.li-items{
    font-weight: 400;
    margin: 10px 0px;
    font-size: 14px;
    color: rgb(104, 104, 104);
    padding: 5px 0px;

    width: auto;

    display: table;
    cursor: pointer;
}

.input{
    width: auto;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px;
    margin: 5px 0px;
}

.input input{
    width: 80%;
    outline: none;
    border:none;
}

.fa-envelope, .fa-arrow-right{
    font-size: 18px;
}

.icons{
    width: 50%;
    padding: 5px 0px;
    margin: 15px 0px;

    color: black;
    font-size: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.underline-out-1{
    width: inherit;
    height: 2px;
    background-color: none;
    overflow: hidden;
}

.underline-out-2{
    width: auto;
    height: 2px;
    background-color: none;
    overflow: hidden;
}

.inner-box{
    width: auto;
    height: 3px;
    background-color: black;
    transform: translateX(-250px);
    transition: .5s;
}

.li-items:hover{
    color: black;
}

.li-items:hover .underline-out-1 .inner-box{
    transform: translateX(0px);
    transition: .5s;
}

.li-items:hover .underline-out-2 > .inner-box{
    transform: translateX(0px);
    transition: .5s;
}


.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #039137;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(67, 67, 67, 0.029);
  transition: 1s;
  border: none;
  outline: none;

  
}

.whatsapp-float.hide{
    display: none;
    background-color: yellow!important;    
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 48px;
  height: 48px;
}

.whatsapp-chat{
    width: 300px;
    height: 250px;
    background-image: url("/Images/Raw\ images/peakpx (1).jpg");
    background-size: cover;
    position: fixed;
    right: 40px;
    bottom: 40px;

    border-radius: 20px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0px 4px 10px 0px gray;
    display: none;
    transform: scale(0.5);
    transition: transform 1s ease ;
}

.whatsapp-chat.live{
    transform: scale(1);
    transition: 1s;   
    display: block;

}


.contact{
    width: 100%;
    height: 20%;
    background-color: #039137;

    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    
    
}

.close-btn{
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 5px;
}


.msg-body{
    width: 100%;
    height: 60%;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;

}

.msg-body div{
    width: 80px;
    height: 80px;
    background-image: url("./Images/Raw\ images/whatsapp logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid white;
}

.text-box{
    width: 100%;
    height: 20%;
    background-color: transparent(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat{
    width: auto;
    height: auto;
    background-color: #039137;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

